<div>
    <sly-field title="Choose whether to transform all video frames or only annotated frames">
        <sly-icon slot="icon" :options="{ color: '#ff7c49', bgColor: '#fff39b', rounded: false }">
            <i class="zmdi zmdi-view-list-alt"></i>
        </sly-icon>
        <el-select v-model="state.Options">
            <el-option key="all" label="All video frames" value="all"></el-option>
            <el-option key="annotated" label="Only annotated video frames" value="annotated"></el-option>
        </el-select>
    </sly-field>

    <sly-field title="Batch size">
        <sly-icon slot="icon" :options="{ color: '#4977ff', bgColor: '#ddf2ff', rounded: false }">
            <i class="zmdi zmdi-view-comfy"></i>
        </sly-icon>
        <el-input-number v-model="state.batchSize" :min="32" :max="2048"></el-input-number>
    </sly-field>

    <sly-field title="Datasets">
        <sly-icon slot="icon" :options="{ color: '#2cd26e', bgColor: '#d8f8e7', rounded: false }">
            <i class="zmdi zmdi-collection-folder-image"></i>
        </sly-icon>
        <el-checkbox v-model="state.allDatasets">Transform all datasets from project
        </el-checkbox>

        <div v-if="!state.allDatasets">
            <sly-select-dataset :project-id="context.projectId" :datasets.sync="state.selectedDatasets"
                                :options="{multiple: true}"></sly-select-dataset>
        </div>
    </sly-field>

    <el-checkbox v-model="state.sampleResultFrames">
        <b style="font-weight: 500; padding: 0; font-size: 14px;">Sample result frames</b>
    </el-checkbox>

    <div v-if="state.sampleResultFrames">
        <sly-field title="Frame step" description="Extract every N-th frame" v-if="state.Options === 'all'">
            <sly-icon slot="icon" :options="{ color: 'red', bgColor: '#FFCCCB', rounded: false }">
                <i class="zmdi zmdi-fast-forward"></i>
            </sly-icon>
        </sly-field>

        <sly-field title="Frame step" description="Extract every annotated N-th frame"
                   v-if="state.Options === 'annotated'">
            <sly-icon slot="icon" :options="{ color: 'red', bgColor: '#FFCCCB', rounded: false }">
                <i class="zmdi zmdi-fast-forward"></i>
            </sly-icon>
        </sly-field>
        <el-input-number v-model="state.framesStep" :min="1"></el-input-number>

    </div>
</div>